/* style1.css */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Palanquin', sans-serif;
    font-family: 'Play', sans-serif;
}

:root {
    scroll-behavior: smooth;
}

.logo, .logo img {
    width: 12vw;
    height: auto;
    opacity: 90%;
    margin-left: 3%;
    margin-top: 0.5%;
}

.menuNavegacion .close {
    color: rgba(65, 62, 124, 0.129);
}

.menuNavegacion ul {
    float: right;
    margin-right: 10px;
}

.menuNavegacion ul li {
    display: inline-block;
    margin: 0 10px 10px 10px;
}

.menuNavegacion ul li a {
    font-size: 18px;
    padding: 8px 6px;
    text-decoration: none;
    color: rgb(15, 14, 63);
}

.menuNavegacion ul li a:hover {
    color: #F7961E;
}

.menuNavegacion {
    width: auto;
    height: 55px;
    background: linear-gradient(to bottom, rgba(8, 2, 34, 0.952), rgb(229, 229, 237) 33%, rgb(14, 9, 73) 90%);
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(15, 14, 63);
    padding: 8px 6px;
}

.menu ul li a:hover {
    color: #F7961E;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background: #5d566e99;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.menu ul li:hover ul {
    display: block;
}

#sliding_menu {
    transition: transform 0.3s ease;
}

#sliding_menu.open {
    transform: translateX(0);
}

.close {
    cursor: pointer;
}


.submenu, .submenu2, .submenu3 {
    display: none;
    position: absolute;
    width: 190px;
    line-height: 100%;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5d566e99;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu2, .submenu3 {
    margin-left: -70px;
}

.banner {
    width: 100%;
    height: 100vh;
    background: no-repeat center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(0.2);
    left: 0;
    top: 0;
    z-index: 1;
}

.texto_banner {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    min-width: 100%;
    min-height: 30%;
    border-radius: 0px;
}

.texto_banner p,
.texto_banner h1 {
    color: white;
    margin: 0;
    text-align: left;
}

.texto_banner h1 {
    font-size: 48px;
}

.texto_banner p {
    font-size: 28px;
    text-align: justify;
}

.titulosm {
    margin: 3%;
    text-align: left;
}

.contenedorSM, .contenedorAMR, .contenedorAMI, .contenedorlorawan, .contenedorplataforma, .contenedorsimu, .contenedor-producto {
    padding: 10px 50px;
    margin: 10px 20px;
    text-align: justify;
}

h1, .subtituloAmr, .n-medicionAmr, .subtituloAmi, .n-medicionAmi, .subtitulolora, h2, h3 {
    color: #229191;
}

.banner1 {
    padding: 10px 70px;
    background: no-repeat center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    left: 0;
    top: 0;
    z-index: 1;
}

.texto_banner1 {
    text-align: justify;
    padding: 10px 50px;
    margin: 10px 20px;
}

.gallery {
    background-color: #f2f2f2;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subtitulo1 {
    padding: 10px 50px;
    margin: 10px 20px;
    color: #229191;
}

.img-galeria {
    width: 28%;
    display: block;
    margin-top: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    object-fit: contain;
}

.image-light {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    transform: translate(100%);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s 0.2s;
}

.close {
    position: absolute;
    top: -20px;
}

.close1 {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 40px;
    cursor: pointer;
}

.showImage {
    transform: scale(0.6);
}

.show {
    transform: translate(0);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: #333;
}


/* Responsiveness */
@media(max-width: 880px) {
    .hamburger {
      display: block;
    }

    .hamburger span {
        margin-bottom: 2px;
        background-color: rgb(23, 7, 94);
        display: block;
        height: 4px;
    }

    .menuNavegacion .hamburger :hover {
        color: #F7961E;
    }

    .hamburger span {
        margin-left: 20px;
        cursor: pointer;
    }

    .logo, .logo img {
        margin-left: 600px;
        width: 150px;
        margin-top: 0.1px;
    }

    .menuNavegacion {
        position: relative;
    }

    .menu ul {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 200px;
        height: 100%;
        background-color: rgba(212, 216, 217, 0.989);
        transition: left 0.3s ease;
        padding-top: 60px;
        z-index: 1;
    }

    .menu ul.open {
        left: 0;
    }

    .menu ul li {
        display: block;
        margin: 10px 0;
    }

    .menuNavegacion ul li {
        display: block;
        float: none;
    }

    .menuNavegacion ul li a {
        font-size: 14px;
        padding: 5px 30px;
    }

    .close {
        display: inline-block;
        position: relative;
        width: 30px;
        left: 20px;
        top: 50%;
        color: rgb(36, 22, 19);
        font-size: 24px;
        cursor: pointer;
    }

    .menuNavegacion ul li span:hover {
        color: #F7961E;
    }

    .menuNavegacion .menu li {
        display: inline-block;
        position: relative;
    }

    .menuNavegacion .menu li:hover ul {
        display: block;
    }

    .menuNavegacion .menu .submenu,
    .menuNavegacion .menu .submenu2,
    .menuNavegacion .menu .submenu3 {
        display: none;
        position: static;
        width: 220px;
        padding-left: 1px;
        padding-top: 10px;
        margin-top: 5px;
        margin-left: -13px;
        line-height: 10px;
        background-color: #5d566e99;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .texto_banner {
        position: absolute;
        top: 70%;
        left: 50%;
        padding: 30px;
        min-width: 100%;
        min-height: 20%;
        border-radius: 0px;
    }

    .texto_banner h1 {
        font-size: 38px;
    }

    .texto_banner p {
        font-size: 18px;
    }

    .showImage {
        transform: scale(1.2);
    }
}
