/* style1.css */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Palanquin', sans-serif;
    font-family: 'Play', sans-serif;
    background-color: #f0f0f0; /* Cambia este color al que desees para el fondo de la página */
}

:root {
    scroll-behavior: smooth;
}

.logo, .logo img {
    width: 12vw;
    height: auto;
    opacity: 90%;
    margin-left: 3%;
    margin-top: 0.5%;
}

/* Cambiar el color del texto en los enlaces del navbar */
.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255); /* Cambia este color al que desees para los enlaces normales */
  }
  
  /* Cambiar el color del texto en el enlace al pasar el cursor */
.navbar-nav .nav-item .nav-link:hover {
    color: #acb698; /* Cambia este color al que desees para el estado hover */
    background-color: rgba(15, 1, 1, 0.579); /* Cambia el fondo al pasar el cursor si lo deseas */
    border-radius: 25px; /* Ajusta este valor para hacer el fondo más ovalado */
    padding: 5px 15px; /* Ajusta el padding para mejorar el aspecto ovalado */
  }
  
  /* Cambiar el color del texto en el enlace activo */
.navbar-nav .nav-item .nav-link.active {
    color: #058deffc; /* Cambia este color al que desees para el enlace activo */
    background-color: rgba(4, 4, 4, 0.379); /* Cambia el fondo al estar activo si lo deseas */
    border-radius: 25px; /* Ajusta este valor para hacer el fondo más ovalado */
    padding: 5px 15px; /* Ajusta el padding para mejorar el aspecto ovalado */
  }
  
  /* Cambiar el color del texto en el enlace enfocado */
.navbar-nav .nav-item .nav-link:focus {
    color: #4dff00; /* Cambia este color al que desees para el estado enfocado */
    background-color: rgba(255, 255, 255, 0.3); /* Cambia el fondo al enfocar si lo deseas */
  }
  
  /* Cambiar el color del texto en el menú desplegable */
.dropdown-menu .dropdown-item {
    color: rgb(27, 25, 25); /* Cambia este color al que desees para los elementos del menú desplegable */
  }
  
  /* Cambiar el color del texto en el elemento del menú desplegable al pasar el cursor */
.dropdown-menu .dropdown-item:hover {
    color: #007bff; /* Cambia este color al que desees para el estado hover en el menú desplegable */
    background-color: rgba(59, 40, 40, 0.134); /* Cambia el fondo al pasar el cursor en el menú desplegable */
  }

  /* Mostrar el dropdown automáticamente al pasar el cursor */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Ajusta el margen si es necesario */
  }
  
  /* Ajustes adicionales para los dropdown */
.navbar-nav .dropdown-menu {
    background-color: #343a4066; /* Color de fondo del dropdown */
    border: none; /* Eliminar borde */
    border-radius: 0; /* Eliminar el radio del borde */
    margin-top: 0; /* Eliminar margen superior */
  }
  
  /* Color del texto de los elementos del dropdown */
.navbar-nav .dropdown-item {
    color: #131313; /* Cambia este color según tus necesidades */
  }
  
  /* Color del texto de los elementos del dropdown al pasar el cursor */
.navbar-nav .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Cambia el color de fondo al pasar el cursor */
    color: #007bff; /* Cambia este color según tus necesidades */
  }
  
.transparent-navbar {
    background-color: rgba(11, 8, 66, 0.5); /* Azul primario con 50% de transparencia */
    z-index: 2; /* Coloca el navbar en una capa superior */
  }

.banner-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: no-repeat center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.banner-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 120vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: brightness(0.8);
    z-index: -1;
  }

@media (max-width: 768px) {
    .banner-video {
        width: 150vw;
        height: 150vh;
    }
}

.texto_banner {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    min-width: 100%;
    min-height: 70%;
}

.texto_banner h1 {
    color: rgb(245, 244, 251);
    margin: 0;
    text-align: center;
}

.texto_banner h1 {
    font-size: 70px;
}


.titulosm {
    margin: 3%;
    text-align: left;
}

/* Estilos para el contenedor principal con un color de fondo */
.contenedorSM {
    background-color: #123456; /* Reemplaza con el color que desees */
    color: #ffffff; /* Cambia el color del texto si es necesario para mejor legibilidad */
  }

  .contenedorAMR, .contenedorAMI {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    color: #ffffff; /* Cambia el color del texto si es necesario para mejor legibilidad */
  }
    
.contenedorSM, .contenedorAMR, .contenedorAMI, .contenedorlorawan, .contenedorplataforma, .contenedorsimu, .contenedor-producto {
    padding: 10px 50px;
    margin: 10px 20px;
    text-align: justify;
}

h1, h3 {
    color: #2a23a7;
}

h2 {
    color: rgb(18, 114, 55);
}

.banner1 {
    padding: 10px 70px;
    background: no-repeat center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    left: 0;
    top: 0;
    z-index: 1;
}

.texto_banner1 {
    text-align: justify;
    padding: 10px 50px;
    margin: 10px 20px;
}

.gallery {
    background-color: #f2f2f2;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subtitulo1 {
    padding: 10px 50px;
    margin: 10px 20px;
    color: #229191;
}

.img-galeria {
    width: 28%;
    display: block;
    margin-top: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    object-fit: contain;
}

.image-light {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    transform: translate(100%);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s 0.2s;
}

.close {
    position: absolute;
    top: -20px;
}

.close1 {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 40px;
    cursor: pointer;
}

.showImage {
    transform: scale(0.6);
}

.show {
    transform: translate(0);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: #333;
}

/* src/components/Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-form h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .login-form div {
    margin-bottom: 1rem;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  